.BreadBottom {
  height: 60px;
  width: 80%;
  background: linear-gradient(#f08e4a, #e27b36);
  border-radius: 0 0 30px 30px;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto; }

.BreadTop {
  height: 90px;
  width: 80%;
  background: linear-gradient(#bc581e, #e27b36);
  border-radius: 50% 50% 0 0;
  box-shadow: inset -15px 0 #c15711;
  margin: 2% auto;
  position: relative; }

.Seeds1 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: #f4cf81;
  left: 30%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(-20deg);
  box-shadow: inset -2px -3px #e5893a; }

.Seeds1:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f4cf81;
  left: -170%;
  top: -260%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px 2px #e5893a; }

.Seeds1:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f4cf81;
  left: 180%;
  top: 29%;
  border-radius: 40%;
  transform: rotate(60deg);
  box-shadow: inset -1px -3px #e5893a; }

.Seeds2 {
  width: 10%;
  height: 15%;
  position: absolute;
  background-color: #f4cf81;
  left: 64%;
  top: 50%;
  border-radius: 40%;
  transform: rotate(10deg);
  box-shadow: inset -3px 0 #e5893a; }

.Seeds2:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f4cf81;
  left: 150%;
  top: -130%;
  border-radius: 40%;
  transform: rotate(90deg);
  box-shadow: inset 1px 3px #e5893a; }

.Meat {
  width: 80%;
  height: 45px;
  background: linear-gradient(#7f3608, #702e05);
  margin: 2% auto;
  border-radius: 15px; }

.Cheese {
  width: 90%;
  height: 20px;
  margin: 2% auto;
  background: linear-gradient(#f4d004, #d6bb22);
  border-radius: 20px; }

.Salad {
  width: 85%;
  height: 25px;
  margin: 2% auto;
  background: linear-gradient(#228c1d, #91ce50);
  border-radius: 20px; }

.Bacon {
  width: 80%;
  height: 15px;
  background: linear-gradient(#bf3813, #c45e38);
  margin: 2% auto; }

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em; }

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 160, 0.2);
  border-right: 1.1em solid rgba(0, 0, 160, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 160, 0.2);
  border-left: 1.1em solid #0000a0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear; }

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

body,
html {
  background: #323292; }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif; }

p.noIngredients {
  text-align: center;
  font-weight: 700; }

.mainheader .navbar-brand img {
  height: 30px; }

.mainheader #navbarNav .nav-link.active {
  background-color: orange; }

.burgerbuilder {
  padding: 60px 30px;
  background: #e3dea2; }
  .burgerbuilder .burger {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    min-height: 350px;
    text-align: center; }
    .burgerbuilder .burger p {
      font-weight: 700;
      font-size: 33px;
      color: #89865f; }

.allcontrols .controls.list-group-horizontal.list-group {
  width: 90%;
  margin: -40px auto auto;
  border: none;
  box-shadow: 5px 4px 5px #00000065; }
  .allcontrols .controls.list-group-horizontal.list-group li {
    width: 20%;
    margin-right: 0; }
    .allcontrols .controls.list-group-horizontal.list-group li.price {
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      padding: 17px 5px 12px; }
    .allcontrols .controls.list-group-horizontal.list-group li h5 {
      font-weight: 700; }

.allcontrols .order {
  width: 40%;
  background: #efedec;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  box-shadow: 5px 4px 5px #00000065;
  border-radius: 0 0 6px 6px; }

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #0000008a; }

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 5px 4px 5px #00000065;
  padding: 16px;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.5s ease-out; }
  @media (min-width: 600px) {
    .Modal {
      width: 500px;
      left: calc(50% - 250px); } }
  .Modal p.my-3 strong {
    color: #323292;
    font-size: 19px;
    line-height: 1; }

.checkoutSummary {
  padding: 30px;
  background: #fff; }
  .checkoutSummary h1 {
    text-align: center;
    font-weight: 700;
    font-size: 33px;
    color: #89865f;
    margin-bottom: 20px; }
  .checkoutSummary .btnbox {
    margin-top: 50px;
    text-align: center; }

.ctctForm {
  padding: 30px;
  background: #f5eedd;
  border: 1px solid #e3cec0; }
  .ctctForm h4 {
    font-weight: 700;
    color: #89865f;
    margin: 0 0 20px; }

.allOrders {
  padding: 30px;
  background: #f5eedd;
  border: 1px solid #e3cec0; }
  .allOrders h3 {
    font-weight: 700;
    color: #89865f;
    margin: 0 0 20px; }
  .allOrders .card {
    margin-bottom: 20px; }
