.header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
    margin: 0;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin: 0 1rem;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #66fcf1;
}
