@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background: #e9e19f;
    background-image: url(/src/img/patt.jpg);
}

.cinzel {
    font-family: 'Cinzel', sans-serif;
}

h1 {
    margin: 2rem 0;
}

.btn {
    white-space: nowrap;
}

.btn-info {
    color: #fff;
    background-color: #008080;
    border-color: #008080;
}

.btn-info:hover {
    color: #fff;
}

.btn-outline-info {
    color: #008080;
    border-color: #008080;
}

.btn-outline-info:hover {
    background-color: #008080;
    color: #fff;
    border-color: #008080;
}

.btn.ascdesc span {
    letter-spacing: -2px;
    margin-right: 4px;
}

.nav a {
    font-size: 1rem;
    text-transform: uppercase;
}

.centered {
    margin: 3rem auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.focused {
    font-size: 3rem;
    font-weight: bold;
    color: white;
}

.btn--flat {
    cursor: pointer;
    font: inherit;
    color: teal;
    border: none;
    background-color: none;
    text-decoration: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
}

.btn--flat:hover,
.btn--flat:active {
    background-color: teal;
    color: white;
}

.nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav li {
    margin-left: 1.5rem;
    font-size: 1.25rem;
}

.nav a {
    text-decoration: none;
    color: #88dfdf;
}

.nav a:hover,
.nav a:active,
.nav a.active {
    color: #e6fcfc;
}

.form-group label {
    font-weight: 500;
    display: block;
    margin-bottom: .5rem;
    font-size: 1.25rem;
    color: #1c5d5d;
    font-family: 'Cinzel';
}

.form-group input,
.form-group textarea {
    margin-bottom: 1rem;
}

.newquote {
    max-width: 50vw;
    margin: 0 auto;
}

.newquote>div {
    background-color: #f2f1e2;
}

.noquotes h2 {
    font-size: 4rem;
    font-family: 'Cinzel';
    color: cornflowerblue;
}

.noquotes {
    height: 20rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.noquotes p {
    color: #262c2c;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    color: #777;
}

.comments {
    background-color: #fff;
    border-radius: 6px;
    padding: 1.5rem;
    margin: 1rem auto;
    max-width: 60rem;
}

.list-group-item {
    font-style: italic;
    color: #777;
}

.spinner {
    margin: 1rem auto;
    display: block;
    width: 80px;
    height: 80px;
}

.spinner:after {
    content: ' ';
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid goldenrod;
    border-color: goldenrod transparent goldenrod transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}