@import "BurgerIngredient.scss";
@import "Spinner.scss";

$darkblue: #323292;

body,
html {
    background: $darkblue;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.mainheader {
    .navbar-brand {
        img {
            height: 30px;
        }
    }
    #navbarNav {
        .nav-link.active {
            background-color: orange;
        }
    }
}

// BURGER
.burgerbuilder {
    padding: 60px 30px;
    background: #e3dea2;

    .burger {
        position: relative;
        width: 100%;
        max-width: 600px;
        margin: auto;
        min-height: 350px;
        text-align: center;

        p {
            font-weight: 700;
            font-size: 33px;
            color: #89865f;
        }
    }
}

.allcontrols {
    .controls.list-group-horizontal.list-group {
        width: 90%;
        margin: -40px auto auto;
        border: none;
        box-shadow: 5px 4px 5px #00000065;

        li {
            width: 20%;
            margin-right: 0;

            &.price {
                font-size: 40px;
                font-weight: 700;
                text-align: center;
                padding: 17px 5px 12px;
            }

            h5 {
                font-weight: 700;
            }
        }
    }

    .order {
        width: 40%;
        background: #efedec;
        margin: 0 auto;
        padding: 16px;
        text-align: center;
        box-shadow: 5px 4px 5px #00000065;
        border-radius: 0 0 6px 6px;
    }
}

.backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: #0000008a;
}

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 5px 4px 5px #00000065;
    padding: 16px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    @media (min-width: 600px) {
        width: 500px;
        left: calc(50% - 250px);
    }

    // price
    p.my-3 {
        strong {
            color: $darkblue;
            font-size: 19px;
            line-height: 1;
        }
    }
}

// CHECKOUT
.checkoutSummary {
    padding: 30px;
    background: #fff;

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 33px;
        color: #89865f;
        margin-bottom: 20px;
    }

    .btnbox {
        margin-top: 50px;
        text-align: center;
    }
}

// CONTACT DATA FORM
.ctctForm {
    padding: 30px;
    background: #f5eedd;
    border: 1px solid #e3cec0;

    h4 {
        font-weight: 700;
        color: #89865f;
        margin: 0 0 20px;
    }
}

// ORDERS
.allOrders {
    padding: 30px;
    background: #f5eedd;
    border: 1px solid #e3cec0;

    h3 {
        font-weight: 700;
        color: #89865f;
        margin: 0 0 20px;
    }

    .card {
        margin-bottom: 20px;
    }
}
