@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('./css/colors.css');
@import url('./css/editor.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.btn:focus {
    box-shadow: none !important;
}

.box {
    margin: 3rem auto;
    max-width: 25rem;
    border-radius: 6px;
    box-shadow: 0 10px 10px rgb(0 0 0 / 20%);
    padding: 2rem;
}

/* HEADER */
.mainheader.bblack {
    border-bottom: 1px solid #303f50;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: baseline;
}

.header li {
    margin: 0 1rem;
}

.header a {
    color: #fff;
}

.header a:hover {
    color: #66fcf1;
}

.header .btn.btn-outline-primary {
    padding: .375rem 1.5rem
}

/* START */
.starting {
    margin: 3rem auto;
    max-width: 50%;
    text-align: center;
}

.starting h1 {
    font-size: 8rem;
}

.starting hr {
    margin: 2rem;
}

/* LOGIN */
.authlogin h1 {
    margin: 0 0 2rem 0;
}

.authlogin .btn-group {
    margin-top: .5rem;
    width: 100%;
}

.authlogin .btn-group .btn {
    width: 50%;
}

.authlogin .btn-group .btn:hover {
    width: 50%;
}

.authlogin .spinner-border {
    margin-right: .5rem;
    width: 1.3rem;
    height: 1.3rem;
}

.control {
    margin-bottom: 0.5rem;
}

.control label {
    display: block;
    margin-bottom: 0.5rem;
}

.control input {
    font: inherit;
    border-radius: 4px;
    border: 1px solid #999;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}

.actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: #9f5ccc;
    border: none;
    padding: 0.15rem 1.5rem;
}

.actions .toggle:hover {
    background-color: transparent;
    color: #ae82cc;
}

/* Profile */
.profile input {
    font: inherit;
    border-radius: 4px;
    border: 1px solid #999;
    width: 100%;
    text-align: left;
    padding: 0.25rem;
}