#goals {
    width: 40rem;
    max-width: 90%;
    margin: 5rem auto;
}

#goals p.nogoals {
    color: white;
}

#goal-form {
    width: 40rem;
    height: 40rem;
    background-color: white;
    margin: -26rem auto 3rem auto;
    padding: 1rem;
    padding-top: 26rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 1);
    border-radius: 50%;
    text-align: center;
}

#goal-form label {
    margin: 0;
    font-size: 3rem;
    color: #45ce45;
}

@media screen and (max-width: 40rem) {
    #goal-form {
        width: 100%;
        border-radius: 0;
    }
}