.siteheader {
    .content {
        padding: 1rem 0;
        background-color: white;

        h1 {
            margin: 0;
            font-weight: 700;
        }
    }

    .foodbck {
        height: 20rem;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
