@import '../../scss/vars';

.siteheader {
    .content {
        background-color: $wine;

        .hamburger {
            display: inline-block;
            margin: 1rem;
            width: 30px;
            height: 30px;
            overflow: hidden;

            .center {
                width: 50px;
                transform: rotate(45deg);

                &:before,
                &:after,
                & div {
                    background: #fff;
                    content: '';
                    display: block;
                    height: 4px;
                    margin: 7px 0;
                    transition: 0.5s;
                }
                &:hover:before {
                    transform: translateY(12px) rotate(135deg);
                }
                &:hover:after {
                    transform: translateY(-12px) rotate(-135deg);
                }
                &:hover div {
                    transform: scale(0);
                }
            }
        }

        h1 {
            padding: 1rem;
            margin: 0;
            font-weight: 700;
            line-height: 1;
            color: white;
            display: inline-block;

            small {
                font-size: 75%;
            }
        }

        .cartbtn {
            padding: 1rem;
            border-radius: 0;
            color: white;
            background-color: lighten($wine, 10%);

            span {
                font-size: 1rem;
            }

            .badge {
                padding: 0 0 0 .5rem;
                font-size: 1rem;
                font-weight: 400;
                top: 1px;
            }
        }
    }

    .foodbck {
        height: 20rem;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
