// These are Global styles, this one comes after index.css and has priority

body {
    background: #ebe9db;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 22px;
}

p {
    font-size: 17px;
    color: grey;
    margin: 0;
}

.cursorpointer {
    cursor: pointer;
}

.person {
    margin: 0 0 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
}
