@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;400;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    margin: 0;
    background-color: #3f3f3f;
}