.editor.starting {
    text-align: left;
}

.editor.starting .btn-group {
    margin: 0 .25rem .25rem 0;
}

.editor.starting .btn-group .icon {
    height: 1rem;
    width: auto;
    fill: white;
}

.editor .DraftEditor-editorContainer {
    background-color: #fff;
    min-height: 6rem;
    padding: .5rem;
    border-radius: .25rem;
}

span.strike {
    text-decoration: line-through;
}

