@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Overpass Mono', monospace;
    line-height: 3;
}

html {
    border-bottom: 3rem solid #022b18;
    min-height: 100vh;
}

body {
    margin: 0;
    background-color: #04502d;
}

.list-group-item {
    font-weight: bold;
}