@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
@import 'vars';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body {
    background-color: white;
}