body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ol {
    padding-left: 20px;
}

ol li {
    line-height: 1.2;
    margin-bottom: 15px;
}

h3 {
    margin: 20px 0;
}

.routes {
    margin: 20px 0;
}

.course {
    margin: 20px 0;
}
