.adduser {
    padding: 1rem;
    position: relative
    ;
    .newuserform {
        margin-top: 1rem;

        label {
            color: white;
        }

        .form-control {
            border: 1px solid #102239;
        }

        .text-muted {
            color: #ccc !important;
        }
    }
}

.coursecard {
    background-color: #ffffff1c;
}

.modalbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);

    .coursemodal {
        padding: 1rem;
        position: fixed;
        top: 15vh;
        left: 20%;
        width: 60%;
        z-index: 100;
        overflow: hidden;
        background: #f4f4f4;
        border-radius: 4px;

        h5 {
            font-size: 3rem;
        }
    }
}
