.weatherCard {
    width: 100%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;

    .currentTemp {
        background: rgb(41, 41, 41);
        padding-bottom: 1rem;

        h5 {
            color: white;
            font-size: 5rem;
            font-weight: 300;
            margin: 0;
            //white-space: nowrap;

            small {
                font-size: 3rem;
            }
        }

        p {
            color: white;
            font-size: 1rem;
            margin: 0;
            text-transform: capitalize;
        }
    }

    .minmax {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: rgb(237, 237, 237);

        td {
            padding: 0;
            font-size: 1.5rem;
            text-align: right;
            border: none;
            vertical-align: bottom;

            &.alright {
                font-size: 1.75rem;
            }

            &.small {
                font-size: 1.5rem;
                text-align: left;
            }
        }
    }

    .info {
        padding-top: 1rem;
        padding-bottom: 1rem;
        background: #017bfe;
        color: white;
        text-align: center;
    }
    .col {
        padding-right: 10px;
        padding-left: 10px;

        &.col-2 {
            border-right: 1px solid #ffffff6e;
        }
    }
}
