// COLORS
$lightgrey: #dbdbdb;
$grey: #757e8e;
$yellow: #ffe425;

.black {
    color: black !important;
}

.bg-white {
    background-color: white !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.bg-grey {
    background-color: $grey !important;
}

.text-white {
    color: white !important;
}

.text-grey {
    color: $grey !important;
}

.alright {
    text-align: right;
}

.alcenter {
    text-align: center;
}
