// COLORS
$lightgrey: #dbdbdb;
$yellow: #ffe425;

.black {
    color: black !important;
}

.bg-white {
    background-color: white !important;
}

.bg-yellow {
    background-color: $yellow !important;
}

.alright {
    text-align: right;
}
