@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-height: 100vh;
}

body {
    background: #03001e;
    background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
}

h1 {
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.btn {
    font-weight: 800;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #66606b;
    border-color: #66606b;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-color: #f8c7eb;
}
