@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-height: 100vh;
}

body {
    background: #03001e;
    background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
    background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
}

.container.app {
    max-width: 720px;
}

h1 {
    font-weight: 800;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

h2 {
    font-weight: 800;
    color: white;
    font-size: 1rem;
}

.btn {
    font-weight: 800;
    text-shadow: 2px 2px 6px #00000061;
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #66606b;
    border-color: #66606b;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-color: #f8c7eb;
}

.borderbox {
    border: 1px solid #ffffff80;
    padding: 0 1rem 1rem 1rem;
    border-radius: .3rem;
}

.unit label {
    color: white;
    margin-top: .75rem;
    margin-bottom: .3rem;
}

.unit label {
    color: white;
    margin-top: .75rem;
    margin-bottom: .3rem;
}

.form-actions .btn {
    margin-top: 1rem;
}