* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: #e1e2e3;
}

.button {
    width: 100%;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #8b005d;
    color: white;
    background: #8b005d;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    border: 1px solid #b2197f;
    color: white;
    background: #d9229c;
}

@media (min-width: 768px) {
    .button {
        width: auto;
    }
}

.goal-item.list-group-item:hover {
    cursor: pointer;
    background-color: #333;
    color: #fff;
}