.app {
    margin: 3rem auto;
    width: 90%;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    text-align: center;
}

.app h1 {
    margin: 0;
}

.app .btn {
    margin: 10px auto;
}

ul {
    list-style: none;
}

ul li {
    display: inline;
    margin-right: 20px;
}