main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-y: auto;
}

.sidebar {
    width: 20%;
}

.movies {
    width: 80%;
}

.movies .album {
    padding: 1rem;
}

.movietitle h2 {
    line-height: 1.1;
    font-weight: 700;
    color: #425466;
}

.movietitle h5 {
    color: #A58500;
}
/*
.movietitle p.card-text {
    max-height: 150px;
    overflow: hidden;
}
*/