main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-y: auto;
}

.sidebar {
    width: 20%;
}

.sidebar h1 {
    color: goldenrod;
}

.movies {
    width: 80%;
}

.movies .album {
    padding: 1rem;
}

.movietitle h2 {
    line-height: 1.1;
    font-weight: 700;
    color: #425466;
    font-size: 2rem;
}

.movietitle h5 {
    color: goldenrod;
}

.movietitle p.card-text {
    margin-bottom: .5rem;
    line-height: 1.3;
}

.movietitle p.card-text + p {
    line-height: 1.2;
}


.spinner-border {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    opacity: .3;
}

.alert {
    width: calc(100% - 4rem);
    margin: 2rem;
}

.movieform, .movieform .form-label, .movieform .btn {
    margin-top: .75rem;
}