main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-y: auto;
}

.sidebar {
    width: 25%;
}

.sidebar h1 {
    color: goldenrod;
}

.movies {
    width: 75%;
}

.movies .album {
    padding: 1rem;
}

.movietitle h2 {
    line-height: 1.1;
    font-weight: 700;
    color: #425466;
    font-size: 2rem;
}

.movietitle h5 {
    color: goldenrod;
}

.movietitle p.card-text {
    margin-bottom: .5rem;
    line-height: 1.3;
}

.movietitle p.card-text + p {
    line-height: 1.2;
}


.spinner-border {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-top: 3rem;
    margin-left: 3rem;
    opacity: .3;
}

.movies .alert {
    width: calc(100% - 4rem);
    margin: 2rem;
}

.card.bg-secondary {
    background-color: #323f4c !important;
}

.card .card-title {
    font-family: 'Encode Sans SC', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: goldenrod;
}

.movieform .form-control {
    font-size: .75rem;
}

.movieform .form-label {
    margin-top: .5rem;
}

.movieform .form-label {
    margin-bottom: .25rem;
}

.fbmoviesresults {
    margin-top: 1rem;
}

.fbmoviesresults h5 {
    font-family: 'Encode Sans SC', sans-serif;
}

.firemov h6 {
    font-size: 1rem;
    font-family: 'Encode Sans SC', sans-serif;
}

.firemov p {
    font-size: .75rem;
}