header {
    background-color: #008080;
}

.header {
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #008080;
}

.logo a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}