.item {
    margin: 1rem 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #fff;
}

.item:last-of-type {
    border-bottom: none;
}

.item figure {
    margin: 0;
    padding: 0;
}

.item blockquote {
    margin: 0;
    text-align: left;
    color: #1c5d5d;
}

.item p {
    margin: 0 0 0.25rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.1;
}

.item figcaption {
    color: #566d6d;
}